In [11]:
import usaddress
import pandas as pd
import numpy as np
import collections

In [12]:
def print_full(x):
    pd.set_option('display.max_rows', len(x))
    print(x)
    pd.reset_option('display.max_rows')

In [13]:

df = pd.read_excel('Test Data Texas.xlsx',sheet_name=1)

In [14]:
df

,Qty,Sales Price,Amount,Tax Amount,Taxable Amount,Class,Location,Shipping Address,Shipping Zip,State
0,1.0,28.00,28.00,0.00,28.00,Website:Facebook,WEBSITE,Robin Romans_x000D_\n7005 Rain Creek Pkwy_x000...,78759,TX
1,1.0,18.99,18.99,0.00,18.99,Website:Facebook,WEBSITE,Robin Romans_x000D_\n7005 Rain Creek Pkwy_x000...,78759,TX
2,1.0,9.24,9.24,6.21,9.24,Website:Facebook,WEBSITE,Robin Romans_x000D_\n7005 Rain Creek Pkwy_x000...,78759,TX
3,1.0,40.99,40.99,0.00,40.99,Website,WEBSITE,Tom Mackowski_x000D_\n6905 Nottoway Lane\nLumb...,77657,TX
4,1.0,40.99,40.99,0.00,40.99,Website,WEBSITE,Tom Mackowski_x000D_\n6905 Nottoway Lane\nLumb...,77657,TX
...,...,...,...,...,...,...,...,...,...,...
1024,NaN,NaN,-25.35,0.00,0.00,Online Retail,Wholesale - TX,NaN,75039,TX
1025,-2.0,47.00,-94.00,0.00,0.00,Online Retail,Wholesale - TX,NaN,75039,TX
1026,-1.0,45.00,-45.00,0.00,0.00,Online Retail,Wholesale - TX,NaN,75039,TX
1027,NaN,NaN,-25.70,0.00,0.00,Online Retail,Wholesale - TX,NaN,75039,TX
1028,-2.0,25.00,-50.00,0.00,0.00,Wholesale,Wholesale - TX,0,76182,TX

In [15]:
l = df['Shipping Address'].to_numpy()
j = []

for i,k in enumerate(l):
    if type(k) is str:
        l[i] = l[i].replace('_x000D_\n',',')
        l[i] = l[i].replace('\n',',')
        try:
            j.append(usaddress.tag(l[i])[0])
        except:
            j.append(collections.OrderedDict([('Recipient','bad')]))

new_df = pd.DataFrame(j)
# new_df.to_excel('test.xlsx')
# print(new_df.head(10))

In [16]:
len(new_df)

1020

In [17]:
df['Street Address'] = new_df['AddressNumber'] + ' ' + new_df['StreetName'] + ' ' + new_df['StreetNamePostType']
df['city'] = new_df['PlaceName']

In [19]:
df['Street Address'].unique()

array(['7005 Rain Creek Pkwy', '6905 Nottoway Lane',
       '1926 Belmont Boulevard', '6925 Snider Plaza',
       '2050 Stemmons Frwy', '4101 CHURCHILL DOWNS DR', '4209 Warnock Ct',
       nan, '6200 CEDAR CREEK DR', '3108 JARRARD STREET',
       '4803 SANDESTIN DR', '179 Main Street', '3663 Bess Caves Road',
       '3119 Noble lakes Ln', '2700 SIMONDALE DR', '10406 Eiche Circle',
       '4600 PENBROOK COURT', '7 Royal Fern Dr', '2100 Hulen Street',
       '1711 Congress Ave.', '1111 BERING DR', '265 Main Street',
       '607 Canyon Rim Dr', '4952 Westbriar Drive',
       '2132 Loch Haven Drive', '327 COLLEGE ST',
       '1545 MISSION VALLEY RD', '1403 Elm Brook Dr',
       '109 Virginia Street', '619 Ramblewood Rd', '104 Mercer Street',
       '12800 Portifino Street', '50 Shasta Bend Circle Spring',
       '5917 Genoa Court', '779 River Chase Way', '10 Creekwood Circle',
       '250 Twin Canyon Drive', '112 Williamsburg Lane',
       '506 RIPPLE CREEK DR', '6901 Preston Road', '1601 Austin Avenue',
       '5000 El Dorado Parkway', '6408 Fershaw Place',
       '2819 Henderson Ave', '1821 John McCain Rd', '7512 John Autry Rd.',
       '123 Broadway Ave.', '1716 Hollyhock Drive', '225 Cosmos Lane',
       '4855 Old Bullard Road', '12680 Hillcrest Road',
       '1817 Keats Drive', '5705 Main St.', '1020 Nasa Pkwy',
       '102 Mockingbird Lane', '2319 Highland Heights Lane',
       '4601 McCullough Ave', '8826 Stable Crest Blvd',
       '4911 Camp Bowie Blvd', '2106 Date Street',
       '2208 Post Office Street', '4300 10th St.', '5100 Hillcrest Drive',
       '3901 turtle creek blvd', '4444 Victory Drive',
       '13125 Meridian Park Boulevard', '540 Bibb Ave', '550 10th Street',
       '2063 Point Loma Drive', '111 Union Avenue', '2408 Creektrail Ln',
       '215 Center St', '6304 Carroll Gardens', '232 38th Street',
       '540 Whitley Place Drive', '3525 Franklin Avenue',
       '4260 Oak Lawn Avenue', '850 Greenside Drive',
       '302 Canyonwood Drive', '8238 Nunley Lane', '1940 Ruby Road',
       '706 CIMARRON HILLS TRL', '10331 CREEKWOOD ST',
       '645 Northlake Drive', '5558 Edlen Drive', '4208 Windsor Pkwy',
       '309 MOSS HILL ROAD', '12651-D Memorial Drive',
       '3517 Gillon Avenue', '2400 GRANDVIEW DR', '730 VANGUARD ST',
       '1215 Maiden Way Dr', '4041 Hidden Valley Dr.',
       '30303 Oak Tree Drive'], dtype=object)

In [26]:
df.loc[df['Street Address'] == '7005 Rain Creek Pkwy']

,Qty,Sales Price,Amount,Tax Amount,Taxable Amount,Class,Location,Shipping Address,Shipping Zip,State,Street Address,city
0,1.0,28.00,28.00,0.00,28.00,Website:Facebook,WEBSITE,"Robin Romans,7005 Rain Creek Pkwy,Austin, Texa...",78759,TX,7005 Rain Creek Pkwy,Austin
1,1.0,18.99,18.99,0.00,18.99,Website:Facebook,WEBSITE,"Robin Romans,7005 Rain Creek Pkwy,Austin, Texa...",78759,TX,7005 Rain Creek Pkwy,Austin
2,1.0,9.24,9.24,6.21,9.24,Website:Facebook,WEBSITE,"Robin Romans,7005 Rain Creek Pkwy,Austin, Texa...",78759,TX,7005 Rain Creek Pkwy,Austin
12,1.0,18.99,18.99,0.00,18.99,Website:Facebook,WEBSITE,"Robin Romans,7005 Rain Creek Pkwy,Austin, Texa...",78759,TX,7005 Rain Creek Pkwy,Austin

In [34]:
df = df.dropna(subset=["Shipping Address"])
df

,Qty,Sales Price,Amount,Tax Amount,Taxable Amount,Class,Location,Shipping Address,Shipping Zip,State,Street Address,city
0,1.0,28.00,28.00,0.00,28.00,Website:Facebook,WEBSITE,"Robin Romans,7005 Rain Creek Pkwy,Austin, Texa...",78759,TX,7005 Rain Creek Pkwy,Austin
1,1.0,18.99,18.99,0.00,18.99,Website:Facebook,WEBSITE,"Robin Romans,7005 Rain Creek Pkwy,Austin, Texa...",78759,TX,7005 Rain Creek Pkwy,Austin
2,1.0,9.24,9.24,6.21,9.24,Website:Facebook,WEBSITE,"Robin Romans,7005 Rain Creek Pkwy,Austin, Texa...",78759,TX,7005 Rain Creek Pkwy,Austin
3,1.0,40.99,40.99,0.00,40.99,Website,WEBSITE,"Tom Mackowski,6905 Nottoway Lane,Lumberton Tex...",77657,TX,6905 Nottoway Lane,Lumberton
4,1.0,40.99,40.99,0.00,40.99,Website,WEBSITE,"Tom Mackowski,6905 Nottoway Lane,Lumberton Tex...",77657,TX,6905 Nottoway Lane,Lumberton
...,...,...,...,...,...,...,...,...,...,...,...,...
1016,NaN,NaN,35.95,0.00,0.00,Wholesale,Wholesale - TX,"Hanna Avdey,McGuire Moorman Hospitality, LLC,1...",78704,TX,1711 Congress Ave.,Austin
1017,2.0,52.00,104.00,0.00,104.00,Website,WEBSITE,"Lori Smith,30303 Oak Tree Drive,Georgetown Tex...",78628,TX,30303 Oak Tree Drive,Georgetown
1018,1.0,11.20,11.20,9.50,11.20,Website,WEBSITE,"Lori Smith,30303 Oak Tree Drive,Georgetown Tex...",78628,TX,30303 Oak Tree Drive,Georgetown
1019,1.0,35.14,35.14,16.76,35.14,Website:Facebook,WEBSITE,"Lisa Crawley,4041 Hidden Valley Dr.,DENISON, T...",75020,TX,4041 Hidden Valley Dr.,DENISON
1028,-2.0,25.00,-50.00,0.00,0.00,Wholesale,Wholesale - TX,0,76182,TX,NaN,NaN

In [35]:
new_df

,Recipient,AddressNumber,StreetName,StreetNamePostType,PlaceName,StateName,ZipCode,CountryName,StreetNamePreDirectional,OccupancyIdentifier,BuildingName,StreetNamePreType,OccupancyType,USPSBoxType,USPSBoxID,SubaddressType,SubaddressIdentifier,StreetNamePostDirectional
0,Robin Romans,7005,Rain Creek,Pkwy,Austin,Texas,78759-7030,United States,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Robin Romans,7005,Rain Creek,Pkwy,Austin,Texas,78759-7030,United States,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Robin Romans,7005,Rain Creek,Pkwy,Austin,Texas,78759-7030,United States,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Tom Mackowski,6905,Nottoway,Lane,Lumberton,Texas,77657,United States,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Tom Mackowski,6905,Nottoway,Lane,Lumberton,Texas,77657,United States,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1015,"Hanna Avdey, McGuire Moorman Hospitality, LLC",1711,Congress,Ave.,Austin,TX,78704,NaN,S.,2nd,NaN,NaN,Floor,NaN,NaN,NaN,NaN,NaN
1016,"Hanna Avdey, McGuire Moorman Hospitality, LLC",1711,Congress,Ave.,Austin,TX,78704,NaN,S.,2nd,NaN,NaN,Floor,NaN,NaN,NaN,NaN,NaN
1017,Lori Smith,30303,Oak Tree,Drive,Georgetown,Texas,78628,United States,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1018,Lori Smith,30303,Oak Tree,Drive,Georgetown,Texas,78628,United States,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1019,Lisa Crawley,4041,Hidden Valley,Dr.,DENISON,Texas,75020,United States,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [31]:
p = {'test':'test'}
lookup_list = {}
for key in df['Street Address'].unique():
    # Here I will have the webscraper right?
    lookup_list[key] = (key, df.loc[df['Street Address'] == key]['Shipping Zip'].unique()[0], df.loc[df['Street Address'] == key]['city'].unique()[0])

IndexError: index 0 is out of bounds for axis 0 with size 0

In [ ]:
lookup_list

## For testing out the crawler

In [1]:
import test

In [4]:
test.debug()

             TEXAS    AUSTIN AUSTIN MTA  .0825000
Code             1   2227016    3227999       NaN
Type         STATE      CITY    TRANSIT       NaN
Tax Rate  .0625000  .0100000   .0100000       NaN

In [1]:
tax_data = {'TEXAS': {'Code': '1', 'Type': 'STATE', 'Tax Rate': '.0625000'}, 'AUSTIN': {'Code': '2227016', 'Type': 'CITY', 'Tax Rate': '.0100000'}, 'AUSTIN MTA': {'Code': '3227999', 'Type': 'TRANSIT', 'Tax Rate': '.0100000'}, '.0825000': {}}

In [9]:
tax_info = tax_data['AUSTIN']
tax_type = tax_info.get('Type', '')
tax_type

'CITY'

In [45]:
df.loc[df['Street Address'] == df['Street Address'].unique()[0]]

,Qty,Sales Price,Amount,Tax Amount,Taxable Amount,Class,Location,Shipping Address,Shipping Zip,State,Street Address,city
0,1.0,28.00,28.00,0.00,28.00,Website:Facebook,WEBSITE,"Robin Romans,7005 Rain Creek Pkwy,Austin, Texa...",78759,TX,7005 Rain Creek Pkwy,Austin
1,1.0,18.99,18.99,0.00,18.99,Website:Facebook,WEBSITE,"Robin Romans,7005 Rain Creek Pkwy,Austin, Texa...",78759,TX,7005 Rain Creek Pkwy,Austin
2,1.0,9.24,9.24,6.21,9.24,Website:Facebook,WEBSITE,"Robin Romans,7005 Rain Creek Pkwy,Austin, Texa...",78759,TX,7005 Rain Creek Pkwy,Austin
12,1.0,18.99,18.99,0.00,18.99,Website:Facebook,WEBSITE,"Robin Romans,7005 Rain Creek Pkwy,Austin, Texa...",78759,TX,7005 Rain Creek Pkwy,Austin

In [15]:
(new_df['AddressNumber'] + ' ' + new_df['StreetName'] + ' ' + new_df['StreetNamePostType']).to_numpy()[:50]

array(['7005 Rain Creek Pkwy', '7005 Rain Creek Pkwy',
       '7005 Rain Creek Pkwy', '6905 Nottoway Lane', '6905 Nottoway Lane',
       '6905 Nottoway Lane', '1926 Belmont Boulevard',
       '1926 Belmont Boulevard', '1926 Belmont Boulevard',
       '1926 Belmont Boulevard', '1926 Belmont Boulevard',
       '1926 Belmont Boulevard', '7005 Rain Creek Pkwy',
       '6925 Snider Plaza', '6925 Snider Plaza', '6925 Snider Plaza',
       '6925 Snider Plaza', '6925 Snider Plaza', '2050 Stemmons Frwy',
       '2050 Stemmons Frwy', '2050 Stemmons Frwy', '2050 Stemmons Frwy',
       '2050 Stemmons Frwy', '2050 Stemmons Frwy', '2050 Stemmons Frwy',
       '2050 Stemmons Frwy', '2050 Stemmons Frwy', '2050 Stemmons Frwy',
       '2050 Stemmons Frwy', '2050 Stemmons Frwy', '2050 Stemmons Frwy',
       '2050 Stemmons Frwy', '2050 Stemmons Frwy', '2050 Stemmons Frwy',
       '2050 Stemmons Frwy', '2050 Stemmons Frwy', '2050 Stemmons Frwy',
       '2050 Stemmons Frwy', '2050 Stemmons Frwy', '2050 Stemmons Frwy',
       '2050 Stemmons Frwy', '2050 Stemmons Frwy',
       '4101 CHURCHILL DOWNS DR', '6925 Snider Plaza', '4209 Warnock Ct',
       '4209 Warnock Ct', '2050 Stemmons Frwy', nan, nan,
       '2050 Stemmons Frwy'], dtype=object)

In [12]:
new_df

,Recipient,AddressNumber,StreetName,StreetNamePostType,PlaceName,StateName,ZipCode,CountryName,StreetNamePreDirectional,OccupancyIdentifier,BuildingName,StreetNamePreType,OccupancyType,USPSBoxType,USPSBoxID,SubaddressType,SubaddressIdentifier,StreetNamePostDirectional
0,Robin Romans,7005,Rain Creek,Pkwy,Austin,Texas,78759-7030,United States,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Robin Romans,7005,Rain Creek,Pkwy,Austin,Texas,78759-7030,United States,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Robin Romans,7005,Rain Creek,Pkwy,Austin,Texas,78759-7030,United States,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Tom Mackowski,6905,Nottoway,Lane,Lumberton,Texas,77657,United States,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Tom Mackowski,6905,Nottoway,Lane,Lumberton,Texas,77657,United States,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1015,"Hanna Avdey, McGuire Moorman Hospitality, LLC",1711,Congress,Ave.,Austin,TX,78704,NaN,S.,2nd,NaN,NaN,Floor,NaN,NaN,NaN,NaN,NaN
1016,"Hanna Avdey, McGuire Moorman Hospitality, LLC",1711,Congress,Ave.,Austin,TX,78704,NaN,S.,2nd,NaN,NaN,Floor,NaN,NaN,NaN,NaN,NaN
1017,Lori Smith,30303,Oak Tree,Drive,Georgetown,Texas,78628,United States,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1018,Lori Smith,30303,Oak Tree,Drive,Georgetown,Texas,78628,United States,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1019,Lisa Crawley,4041,Hidden Valley,Dr.,DENISON,Texas,75020,United States,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
j[0][0]

OrderedDict([('Recipient', 'Robin Romans'),
             ('AddressNumber', '7005'),
             ('StreetName', 'Rain Creek'),
             ('StreetNamePostType', 'Pkwy'),
             ('PlaceName', 'Austin'),
             ('StateName', 'Texas'),
             ('ZipCode', '78759-7030'),
             ('CountryName', 'United States')])

In [10]:
j[0][0].keys()

odict_keys(['Recipient', 'AddressNumber', 'StreetName', 'StreetNamePostType', 'PlaceName', 'StateName', 'ZipCode', 'CountryName'])

In [ ]:
new_df = pd.DataFrame(columns = j[0]